/* subtitle */
@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams.ttf") format("truetype");
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams_Bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams_BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "CaviarDreams";
  src: url("../fonts/CaviarDreams_Italic.ttf") format("truetype");
  font-style: italic;
}

/* villian */
@font-face {
  font-family: "DJB WERECOW OF DANVILLE";
  src: url("../fonts/DJB WERECOW OF DANVILLE.ttf") format("truetype");
}

/* body */
@font-face {
  font-family: "GeosansLight";
  src: url("../fonts/GeosansLight.ttf") format("truetype");
}

@font-face {
  font-family: "GeosansLight";
  src: url("../fonts/GeosansLight-Oblique.ttf") format("truetype");
  font-style: italic;
}

header {
	text-align: center;
}

html {
	background-color: rgb(86, 86, 86);
}

body {
	font-family: "GeosansLight", arial;
  font-weight: bold;
	font-size: 1.5em;
}

header {
	margin: 2em 2em;
}

.title {
	clear: both;
}

.villain {
	font-family: "DJB WERECOW OF DANVILLE", arial;
	font-size: 2.5em;
	color: #FF9933;
  padding: .8em 0;
  background-image: url("../images/villain.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50%;
}

.anti-hero {
	font-family: "CaviarDreams", monospace;
	font-size: 2em;
	font-weight: bold;
}

.subtitle {
	font-weight: bold;
  margin-left: 42%;
  text-align: left;
}

.instructions {
	float: left;
  color: #FF9933;
}

.content {
  width: 85%;
  margin-left: 15%;
  text-align: center;
}

.picture, .question {
  display: inline-block;
}

.picture {
  width: 40%;
  height: 15em;
  margin-right: 2em;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

.question {
  width: 40%;
  vertical-align: top;
  text-align: left;
}

.orange {
  color: #FF9933;
}

#submitButton {
  margin-top: 2em;
}

input[type="radio"] {
  margin-right: 4px;
}

.fa-question {
  color: black;
}

footer {
  text-align: center;
}

.feedbackModal {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  display: none;
}

.feedbackContent {
  text-align: center;
  font-size: 2em;
  color: #FF9933;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#playAgain {
  background-color: rgb(86, 86, 86);
  border: none;
  padding: 15px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
}

#playAgain:hover{
  color: black;
  background-color: #FF9933;
}